* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav1 {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding-top: 5vh;
    background-color: white;
    position: fixed;
    z-index: 2;
}

.font1 {
    font-family: 'Bodoni Moda', serif;
}

.li1::before {
    content: '';
    width: 62.5%;
    height: 0.2vh;
    position: absolute;
    background-color: black;
    left: 1vw;
    top: 4.5vh;
}

.li2::before {
    content: '';
    width: 72%;
    height: 0.2vh;
    position: absolute;
    background-color: black;
    left: 1vw;
    top: 4.5vh;

}

.li3::before {
    content: '';
    width: 74%;
    height: 0.2vh;
    position: absolute;
    background-color: black;
    left: 1vw;
    top: 4.5vh;
}

.li4::before {
    content: '';
    width: 74%;
    height: 0.2vh;
    position: absolute;
    background-color: black;
    left: 1vw;
    top: 4.5vh;
}

.li5::before {
    visibility: hidden;
}

.li5:hover::before {
    visibility: visible;

}

/* Section1Start */
.s1 {
    width: 100%;
    height: 103vh;
    background-color: #fff5f5;
    display: flex;
    padding-top: 17vh;
    padding-left: 5.5vw;

}

.s1div1 {
    width: 45%;
    height: 70vh;
    display: flex;
    gap: 7vh;
    padding-left: 4vw;


}

.s1div2 {
    display: flex;
    align-self: flex-end;
}

.bt1 {
    width: 27.5%;
    border-radius: 0;
    height: 7vh;
    background-color: #454545;
}

.s1h1 {
    font-size: 60px;
    font-weight: 500;
    color: #4f4f4f;
}

.s1p {
    font-size: 18px;
}

/* Section2Start */
.s2 {
    width: 100%;
    height: 30vh;
    display: flex;
}

.p4 {

    width: 78%;
}

.col {
    width: 25%;
}

.row {
    width: 100%;

}

.container {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
}

.ft {
    font-size: 30px;
    font-weight: 500;
}

/* Section3Start */
.s3 {
    width: 100%;
    height: 62vh;
    background-color: #fff5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;

}

.s3p {
    text-align: center;
    width: 52%;
    font-size: 18px;
}

.s3h1 {
    font-size: 55px;
}

/* Section4Start */

.s4 {
    width: 100%;
    height: 83.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6vw;
    padding-left: 7vw;
}

/* Section5Start */
.s5 {
    width: 100%;
    height: 130vh;
    background-color: #fff5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9vh;
    padding-top: 20vh;

}

.s5h1 {
    font-size: 52px;
}

.s5h11 {
    text-align: left;
}
.s5div {
    flex-direction: column;
    width: 100%;
    display: flex;
    gap: 13vh;
    
}
.div1h1 {
    font-size: 23px;
}
.s5div2 {
    width: 25%;
    height: 30vh;
}
.s5div1 {
    display: flex;
    flex-direction: row;
    gap: 15vw;
    justify-content: center;

}
/* Section6start */
.s6 {
    width: 100%;
    height: 83.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6vw;
    padding-right: 7vw;
    padding-left: 3vw;
}
/* Section7Start */
.s7 {
    width: 100%;
    height: 80vh;
    background-color: #fff5f5 ;
    gap: 15vw;
}
.s7div {
    width: 32%;
    height: 40.2vh;
    position: relative;
    left: -7vw;
    z-index: 1;
}
h6 {
    margin: 3vh 0 -0.2vh 0;
}
.s8 {
    width: 100%;
    height: 50vh;
    gap: 1vw;
}
/* FooterStart */
footer {
    width: 100%;
    height: 30vh;
    color: black;
    gap: 6vh;
}
a {
    color: black;
    font-size: 20px;
}
a:hover {
    color: black;
}
.foot {
    gap: 1vw;
}